* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  color: #eee;
  background: #222;
}

.large-button {
  margin: 5%;
  padding: 2%;
  font-size: 24px;
}

#cordova-app {
  display: none;
}

.ul-barcode {
}

.li-barcode {
  margin-top: 2%;
  font-size: 20px;
}

.barcode-gun-container {
  padding: 1%;
  margin: 1%;
}


.barcode-gun-container input {
  width: 100%;
  font-size: 20px;
}

.action-type {
  margin-left: 20px;
}


